* {
    box-sizing: border-box;
}

.main-div {
    display: flex;
}

.left-col {
    background-image: url("halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    float: left;
    border: 5px solid black;
    width: 40%;
    height: 100vh;
}

.right-col {
    float: left;
    border: 5px solid red;
    width: 60%;
}

.right-col-div-1 {
    border: 2px solid black;
    height: 30vh;
}
/*
form {
    width: 50%;
} 
*/

.sign-up-col-1, .sign-up-col-2 {
    float: left;
    width: 50%;
    border: 2px solid black;
}

ul {
    list-style-type: none;
}

ul li {
    width: 50%; /* This is what fixed the input being under the label, instead of to the right of the label */
    display: inline-block;
}